html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    transition: all 0.3s ease 0s;
}

.wrapper {
    margin: 25px 10px 25px 30px;
}

/*header styles start*/

.nav__items {
    background: #e6e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.nav__item a {
    font-size: 18px;
    padding: 14px 10px;
    color: #000;
}

.nav__item a:hover {
    background-color: #daa520;
    color: #fff;
    text-decoration: none;
}

/*header styles end*/

.section-title {
    background-color: #b2a9a9;
    border-left: 10px solid goldenrod;
    padding-left: 7px;
    font-size: 24px;
    font-weight: 600;
    color: #343945;
}

/* main styles start*/

.main {
    display: flex;
}

/*left side start*/

.main__left-side {
    background-color: rgba(37, 38, 47, 0.73);
    color: #fff;
}

/* avatar styles*/

.left-side__avatar {
    width: 256px;
    height: 242px;
}

/*contacts styles*/
.contacts-item {
    margin: 10px 0;
}

.contact-item__img {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px
}

.contact-item {
    color: #fff;
}

.contact-item:hover {
    text-decoration: none;
}

/*education styles*/

.education__item {
    border-bottom: 2px solid #fff;
}

.education__item:last-child {
    border-bottom: none;
}

.education__item-date {
    background-color: gold;
    display: inline-block;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
}

.education__item-course {
    width: 95%;
    margin: 0 auto 8px auto;
}

.education__profession {
    font-style: italic;
    font-weight: 600;
    color: #daa520;
}

/*left side end*/

/*right side start*/

/*page title*/

.page-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.page-title__main {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 35px;
}

.page-title__subtitle {
    font-size: 20px;
}

/*about me*/

.about-me__text {
    text-indent: 30px;
    text-align: justify;
}

/*skills*/

.skills__list {
    list-style: disc;
    padding-left: 15px;
}

.skill__item {
    margin-bottom: 5px;
}

/*code example*/
.code-example__details {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.code-example__details:hover {
    text-decoration: none;
}

.code-example__details[open] summary {
    margin-bottom: 10px;
}

.code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
    max-width: max-content;
    font-family: "Courier New", Courier, monospace;
}

.code, .code-tag, .code-subst {
    color: #f8f8f2;
}

.code-strong, .code-emphasis {
    color: #a8a8a2;
}

.code-bullet, .code-quote, .code-number, .code-regexp, .code-literal, .code-link {
    color: #ae81ff;
}

.code-code, .code-title, .code-section, .code-selector-class {
    color: #a6e22e;
}

.code-strong {
    font-weight: bold;
}

.code-emphasis {
    font-style: italic;
}

.code-keyword, .code-selector-tag, .code-name, .code-attr {
    color: #f92672;
}

.code-symbol, .code-attribute {
    color: #66d9ef;
}

.code-params, .code-class .code-title {
    color: #f8f8f2;
}

.code-string, .code-type, .code-built_in, .code-builtin-name, .code-selector-id, .code-selector-attr, .code-selector-pseudo, .code-addition, .code-variable, .code-template-variable {
    color: #e6db74;
}

.code-comment, .code-deletion, .code-meta {
    color: #75715e;
}


/*my project*/

/*languages*/

.languages__list {
    list-style: disc;
    padding-left: 15px;
}

.language__item {
    margin-bottom: 5px;
}


/*right side end*/


/* main styles end*/


/*footer styles start*/

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(37, 38, 47, 0.91);
    color: #fff;
    font-size: 18px;
    height: 70px;
}

.github__link {
    color: #fff;
    height: 32px;
    padding-left: 40px;
    position: relative;
}

.github__link::before {
    position: absolute;
    content: "";
    left: 0;
    top: -6px;
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/github.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: invert(100%)
}

.github__link:hover {
    text-decoration: none;
}

.rsschool__logo {
    height: 45px;
    filter: invert(100%)
}

/*footer styles end*/