html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    margin: 25px 10px 25px 30px;
}

/*animation*/

a,
.hamburger_line,
.hamburger.open,
.hamburger.open .hamburger_line:nth-child(1),
.hamburger.open .hamburger_line:nth-child(3),
.my-project__page,
.my-project__title,
.my-project__title:after,
.rsschool__logo {
    transition: all 0.3s ease 0s;
}

/*header styles start*/

.nav__items {
    background: #e6e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.nav__item a {
    font-size: 18px;
    padding: 14px 10px;
    color: #000;
}

.nav__item a:hover {
    background-color: #daa520;
    color: #fff;
    text-decoration: none;
}

/*hamburger*/
.burger {
    display: none;
    align-items: center;
    width: 50px;
    height: 60px;
    z-index: 50;
}

.hamburger_line {
    width: 50px;
    height: 3px;
    background-color: #000;
    display: block;
    margin: 8px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:hover .hamburger_line:nth-child(1){
    transform: rotate(5deg);
}

.hamburger:hover .hamburger_line:nth-child(3){
    transform: rotate(-5deg);
}

.hamburger.open {
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger.open .hamburger_line:nth-child(2) {
    width: 0;
}

.hamburger.open .hamburger_line:nth-child(1),
.hamburger.open .hamburger_line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger.open .hamburger_line:nth-child(1) {
    transform: translateY(10px);
}

.hamburger.open .hamburger_line:nth-child(3) {
    transform: translateY(-13px) rotate(90deg);
}

.hamburger.open:hover .hamburger_line:nth-child(1) {
    transform: translateY(10px) rotate(-10deg)
}

.hamburger.open:hover .hamburger_line:nth-child(3) {
    transform: translateY(-13px) rotate(100deg)
}

    /*header styles end*/

.section-title {
    background-color: #b2a9a9;
    border-left: 10px solid goldenrod;
    padding-left: 7px;
    font-size: 24px;
    font-weight: 600;
    color: #343945;
    line-height: 32px;
}

/* main styles start*/

.main {
    display: flex;
}

/*left side start*/

.main__left-side {
    display: flex;
    flex-direction: column;
    background-color: rgba(37, 38, 47, 0.73);
    color: #fff;
}

/* avatar styles*/
.left-side__avatar-block {
    width: 256px;
    height: 242px;
}

.left-side__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*contacts styles*/
.contacts-item {
    margin: 10px 0;
}

.contact-item__img {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px
}

.contact-item {
    color: #fff;
}

.contact-item:hover {
    text-decoration: none;
}

/*education styles*/

.education__item {
    border-bottom: 2px solid #fff;
}

.education__item:last-child {
    border-bottom: none;
}

.education__item-date {
    background-color: gold;
    display: inline-block;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
}

.education__item-course {
    width: 90%;
    margin: 0 auto 8px auto;
}

.education__profession {
    font-style: italic;
    font-weight: 600;
    color: #daa520;
}

/*left side end*/

/*right side start*/

/*page title*/

.page-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.page-title__main {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 35px;
}

.page-title__subtitle {
    font-size: 20px;
}

/*avatar*/

.right-side__avatar-block {
    display: none;
}

/*about me*/

.about-me__text {
    text-indent: 30px;
    text-align: justify;
}

/*skills*/

.skills__list {
    list-style: disc;
    padding-left: 15px;
}

.skill__item {
    margin-bottom: 5px;
}

/*code example*/
.code-example__details {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.code-example__details:hover {
    text-decoration: none;
}

.code-example__details[open] summary {
    margin-bottom: 10px;
}

.code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
    max-width: max-content;
    font-family: "Courier New", Courier, monospace;
}

.code, .code-tag, .code-subst {
    color: #f8f8f2;
}

.code-strong, .code-emphasis {
    color: #a8a8a2;
}

.code-bullet, .code-quote, .code-number, .code-regexp, .code-literal, .code-link {
    color: #ae81ff;
}

.code-code, .code-title, .code-section, .code-selector-class {
    color: #a6e22e;
}

.code-strong {
    font-weight: bold;
}

.code-emphasis {
    font-style: italic;
}

.code-keyword, .code-selector-tag, .code-name, .code-attr {
    color: #f92672;
}

.code-symbol, .code-attribute {
    color: #66d9ef;
}

.code-params, .code-class .code-title {
    color: #f8f8f2;
}

.code-string, .code-type, .code-built_in, .code-builtin-name, .code-selector-id, .code-selector-attr, .code-selector-pseudo, .code-addition, .code-variable, .code-template-variable {
    color: #e6db74;
}

.code-comment, .code-deletion, .code-meta {
    color: #75715e;
}

/*my project*/

.my-projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    gap: 25px;
}

.my-project__link {
    text-decoration: none;
}

.my-project__item {
    width: 48%;
    height: 100%;
}

.my-project__page {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.17);
    margin-bottom: 15px;
}

.my-project__title {
    font-size: 20px;
    color: #000;
    position: relative;
    padding-bottom: 5px;
}

.my-project__title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 40%;
    background-color: black;
}

.my-project__item:hover .my-project__page {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.17);
}

.my-project__item:hover .my-project__title {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.35);
}

.my-project__item:hover .my-project__title:after {
    width: 100%;
    background-color: goldenrod;
}

/*languages*/

.languages__list {
    list-style: disc;
    padding-left: 15px;
}

.language__item {
    margin-bottom: 5px;
}

/*right side end*/

/* main styles end*/

/*footer styles start*/

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(37, 38, 47, 0.91);
    color: #fff;
    font-size: 18px;
    height: 70px;
}

.github__link {
    color: #fff;
    height: 32px;
    padding-left: 40px;
    position: relative;
}

.github__link::before {
    position: absolute;
    content: "";
    left: 0;
    top: -6px;
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/github.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: invert(100%)
}

.github__link:hover {
    text-decoration: none;
}

.rsschool__logo {
    height: 45px;
    filter: invert(100%);
}

.rsschool__logo:hover {
    filter: invert(10%)
}

/*footer styles end*/

@media screen and (max-width: 980px) {

    .my-project__item {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .header {
        position: fixed;
        width: 100%;
        z-index: 4;
    }

    .header__burger {
        position: relative;
        width: 100%;
        background-color: #ccc;
        z-index: 5;
    }

    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: -100%;
        z-index: 4;
        transition: all 0.4s ease 0s;
    }

    .header__nav.open {
        top: 60px;
    }

    .nav__items {
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }

    .nav__item {
        margin: 0;
        display: block;
        width: 100%;

    }

    .nav__item a {
        display: block;
        font-size: 25px;
        width: 100%;

    }

    .burger {
        display: flex;
    }

    .main {
        flex-direction: column-reverse;
        padding-top: 60px;
    }

    .section-title {
        padding-left: 35px;
    }

    .left-side__avatar-block {
        display: none;
    }

    .left-side__education {
        order: -1;
        margin-bottom: 10px;
    }

    .education__item-date,
    .education__item-course {
        margin-left: 25px
    }

    .contacts-list {
        margin-left: 25px
    }

    .page-title-container {
        height: 150px;
    }

    .right-side__avatar-block {
        display: block;
        margin-bottom: 25px;
    }

    .right-side__avatar {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .footer__container {
        height: 150px;
        flex-direction: column;
    }

}